@model LanguageBuddy.Models.Tip

<h2>Create</h2>

@using (@Html.BeginForm("Create", "Tip", FormMethod.Post, new { @class = "form" }))
{


    <div class="row form-group">

        <div class="col-lg-2">
            @Html.LabelFor(m => m.Description)
         </div>
        <div class="col-lg-6">
            @Html.TextAreaFor(m => m.Description)
        </div>
        @Html.ValidationMessageFor( m => m.Description  )
    </div>

    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(m => m.Language)
        </div>
        <div class="col-lg-6">
            @Html.DropDownListFor(m => m.LanguageId, ViewBag.Languages as IEnumerable<SelectListItem>)
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
